absl-py
aiohttp
aiosignal
alabaster==0.7.16
ale-py==0.11.2
alembic==1.16.1
annotated-types==0.7.0
anyio==4.10.0
appnope
asttokens
async-timeout
attrs
babel==2.17.0
backcall
black==25.1.0
blinker
bottle==0.13.4
Bottleneck
box2d-py==2.3.8
cachetools
certifi
cffi==1.17.1
chardet==5.2.0
charset-normalizer
chess==1.11.2
-e git+https://github.com/vwxyzjn/cleanrl.git@004f8a086a892a2a180f4dd332b90d83a968aa7a#egg=cleanrl
click
cloudpickle==3.1.1
colorama==0.4.6
colorlog==6.9.0
comm
commonmark==0.9.1
contextlib2==21.6.0
contourpy
coverage==7.10.6
cryptography
cycler
DataProperty==1.1.0
debugpy
decorator
docstring_parser==0.16
docutils==0.21.2
etils==1.5.2
eval_type_backport==0.2.2
exceptiongroup==1.3.0
execnet==2.1.1
executing
Farama-Notifications==0.0.4
filelock
fonttools==4.25.0
frozenlist
fsspec==2025.7.0
gitdb==4.0.12
GitPython==3.1.45
glfw==2.9.0
gmpy2
google-auth
google-auth-oauthlib
grpcio
gunicorn==23.0.0
gym==0.23.1
gym-notices
gymnasium==0.29.1
h11==0.16.0
hf-xet==1.1.8
huggingface-hub==0.34.4
huggingface-sb3==3.0
idna
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
importlib-metadata
importlib-resources
iniconfig==2.1.0
ipykernel
ipython
jedi
Jinja2
joblib==1.5.0
jupyter_client
jupyter_core
kiwisolver
lbforaging==2.0.0
Mako==1.3.10
Markdown
markdown-it-py==3.0.0
MarkupSafe
matplotlib
matplotlib-inline
mbstrdecoder==1.1.4
mdit-py-plugins==0.4.2
mdurl==0.1.2
ml_collections==0.1.1
moviepy==2.2.1
mpmath
mujoco==3.3.5
multi-agent-ale-py==0.1.11
multidict
munkres==1.1.4
mypy==1.17.1
mypy_extensions==1.1.0
myst-parser==3.0.1
nest_asyncio
networkx
numexpr
numpy==1.26.4
oauthlib
open-spiel==1.5
opencv-python==4.11.0.86
optuna==4.3.0
optuna-dashboard==0.18.0
optuna-fast-fanova==0.0.4
packaging
pandas
parso
pathspec==0.12.1
pathvalidate==3.3.1
pettingzoo==1.25.0
pexpect
pickleshare
pillow
platformdirs
pluggy==1.6.0
proglog==0.1.12
prompt-toolkit
protobuf==3.20.3
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules==0.2.8
pycparser
pydantic==2.11.7
pydantic_core==2.33.2
pyenchant==3.2.2
pygame==2.5.2
pyglet==1.5.31
Pygments
PyJWT
pymunk==6.11.1
PyOpenGL==3.1.10
pyOpenSSL
pyparsing
pytablewriter==1.2.1
pytest==8.4.1
pytest-cov==6.2.1
pytest-env==1.1.5
pytest-xdist==3.8.0
python-dateutil
python-dotenv==1.1.1
pytz
PyYAML
pyzmq
requests
requests-oauthlib==1.3.0
rich==11.2.0
rl_zoo3==2.7.0
rlcard==1.2.0
rsa
Rtree==1.0.0
ruff==0.12.11
rware==2.0.0
sb3_contrib==2.7.0
scikit-learn==1.6.1
scipy==1.13.1
sentry-sdk==2.35.0
Shimmy==2.0.0
shtab==1.7.2
six
smaclite
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
Sphinx==7.4.7
sphinx-autobuild==2024.10.3
sphinx-copybutton==0.5.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-spelling==8.0.0
sphinxcontrib-tikz==0.4.20
SQLAlchemy==2.0.41
-e git+https://github.com/DLR-RM/stable-baselines3.git@dd7f5bfe63631630463f2f9bcb4762e6c040de12#egg=stable_baselines3
stack-data
starlette==0.47.3
sympy
tabledata==1.3.4
tcolorpy==0.1.7
tenacity==9.1.2
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor==3.1.0
threadpoolctl==3.6.0
tomli==2.2.1
torch==2.4.1
torchaudio==2.2.0
torchvision==0.17.0
tornado
tqdm==4.67.1
traitlets
typeguard==4.4.2
typepy==1.3.4
typing-inspection==0.4.1
typing_extensions==4.13.2
tyro==0.9.19
tzdata
urllib3
uvicorn==0.35.0
wandb==0.21.1
wasabi==1.1.3
watchfiles==1.1.0
wcwidth
websockets==15.0.1
Werkzeug
yarl
zipp
